
@font-face {
    font-family: 'PT Root UI';
    src: url('/fonts/PTRootUI-Bold.eot');
    src: url('/fonts/PTRootUI-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/PTRootUI-Bold.woff2') format('woff2'),
        url('/fonts/PTRootUI-Bold.woff') format('woff'),
        url('/fonts/PTRootUI-Bold.ttf') format('truetype'),
        url('/fonts/PTRootUI-Bold.svg#PTRootUI-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Root UI';
    src: url('/fonts/PTRootUI-Medium.eot');
    src: url('/fonts/PTRootUI-Medium.eot?#iefix') format('embedded-opentype'),
        url('/fonts/PTRootUI-Medium.woff2') format('woff2'),
        url('/fonts/PTRootUI-Medium.woff') format('woff'),
        url('/fonts/PTRootUI-Medium.ttf') format('truetype'),
        url('/fonts/PTRootUI-Medium.svg#PTRootUI-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Root UI';
    src: url('/fonts/PTRootUI-Regular.eot');
    src: url('/fonts/PTRootUI-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/PTRootUI-Regular.woff2') format('woff2'),
        url('/fonts/PTRootUI-Regular.woff') format('woff'),
        url('/fonts/PTRootUI-Regular.ttf') format('truetype'),
        url('/fonts/PTRootUI-Regular.svg#PTRootUI-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'PT Root UI';
    src: url('/fonts/PTRootUI-Light.eot');
    src: url('/fonts/PTRootUI-Light.eot?#iefix') format('embedded-opentype'),
        url('/fonts/PTRootUI-Light.woff2') format('woff2'),
        url('/fonts/PTRootUI-Light.woff') format('woff'),
        url('/fonts/PTRootUI-Light.ttf') format('truetype'),
        url('/fonts/PTRootUI-Light.svg#PTRootUI-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Formular';
    src: url('/fonts/Formular-Black.eot');
    src: url('/fonts/Formular-Black.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Formular-Black.woff2') format('woff2'),
        url('/fonts/Formular-Black.woff') format('woff'),
        url('/fonts/Formular-Black.ttf') format('truetype'),
        url('/fonts/Formular-Black.svg#Formular-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Formular';
    src: url('/fonts/Formular-Medium.eot');
    src: url('/fonts/Formular-Medium.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Formular-Medium.woff2') format('woff2'),
        url('/fonts/Formular-Medium.woff') format('woff'),
        url('/fonts/Formular-Medium.ttf') format('truetype'),
        url('/fonts/Formular-Medium.svg#Formular-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Formular';
    src: url('/fonts/Formular-Bold.eot');
    src: url('/fonts/Formular-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Formular-Bold.woff2') format('woff2'),
        url('/fonts/Formular-Bold.woff') format('woff'),
        url('/fonts/Formular-Bold.ttf') format('truetype'),
        url('/fonts/Formular-Bold.svg#Formular-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'inglobal';
    src: url('/fonts/inglobal-Bold.eot');
    src: url('/fonts/inglobal-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/inglobal-Bold.woff2') format('woff2'),
        url('/fonts/inglobal-Bold.woff') format('woff'),
        url('/fonts/inglobal-Bold.ttf') format('truetype'),
        url('/fonts/inglobal-Bold.svg#inglobal-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'inglobal';
    src: url('/fonts/inglobal.eot');
    src: url('/fonts/inglobal.eot?#iefix') format('embedded-opentype'),
        url('/fonts/inglobal.woff2') format('woff2'),
        url('/fonts/inglobal.woff') format('woff'),
        url('/fonts/inglobal.ttf') format('truetype'),
        url('/fonts/inglobal.svg#inglobal') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Euclid Circular A';
    src: url('/fonts/EuclidCircularA-SemiBold.eot');
    src: url('/fonts/EuclidCircularA-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/EuclidCircularA-SemiBold.woff2') format('woff2'),
        url('/fonts/EuclidCircularA-SemiBold.woff') format('woff'),
        url('/fonts/EuclidCircularA-SemiBold.ttf') format('truetype'),
        url('/fonts/EuclidCircularA-SemiBold.svg#EuclidCircularA-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: url('/fonts/EuclidCircularA-Light.eot');
    src: url('/fonts/EuclidCircularA-Light.eot?#iefix') format('embedded-opentype'),
        url('/fonts/EuclidCircularA-Light.woff2') format('woff2'),
        url('/fonts/EuclidCircularA-Light.woff') format('woff'),
        url('/fonts/EuclidCircularA-Light.ttf') format('truetype'),
        url('/fonts/EuclidCircularA-Light.svg#EuclidCircularA-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Formular';
    src: url('/fonts/Formular.eot');
    src: url('/fonts/Formular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Formular.woff2') format('woff2'),
        url('/fonts/Formular.woff') format('woff'),
        url('/fonts/Formular.ttf') format('truetype'),
        url('/fonts/Formular.svg#Formular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Black.eot');
    src: url('/fonts/Lato-Black.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Lato-Black.woff2') format('woff2'),
        url('/fonts/Lato-Black.woff') format('woff'),
        url('/fonts/Lato-Black.ttf') format('truetype'),
        url('/fonts/Lato-Black.svg#Lato-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

